@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
    font-size: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 70%;
    margin: 0 auto;
}

a {
     color: inherit; 
     text-decoration: none
} 


.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 24px;
    
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
}

.conteudo-principal-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo, .conteudo-principal-escrito-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}


.conteudo-principal-escrito-paragrafo {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkCursor 500ms infinite normal,
     typing 4s steps(60) 1s normal;    
}

@keyframes blinkCursor{
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 30em;
    }
}

.conteudo-principal-icons {
    color: #ECD6C4;
}

.conteudo-principal-imagem {
    height: 430px;
    justify-content: flex-end;
}

.conteudo-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.projetos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projeto01, .projeto02, .projeto03 {
    width: 320px;
    height: 180px;
    margin: 15px;
}

.conteudo-projetos-h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 58px;
    color: #FFF2E7;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    margin-bottom: 16px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

@media (max-width: 600px) {
    .conteudo-principal, .projetos {
        flex-direction: column;
    }

    .conteudo-principal-escrito-paragrafo {
        display: none;
    }

    .conteudo-principal-escrito-subtitulo {
        margin: 0 auto;
    }
}

@media (max-width: 800px) { 
    .conteudo-principal, .projetos {
        flex-direction: column;
    }

    .conteudo-principal-escrito-subtitulo, .conteudo-principal-escrito-titulo {
        margin: 0 auto;
    }

    .cabecalho {
        justify-content: center;
    }
}

@media (max-width: 320px) { 
    .conteudo-principal, .projetos {
        flex-direction: column;
    }

    .conteudo-principal-escrito-subtitulo, .conteudo-principal-escrito-titulo {
        margin: 0 auto;
    }

    .cabecalho {
        justify-content: center;
    }

    .conteudo-principal-imagem, .projeto01 {
        width: 100%;
        margin: 20px auto;
    }
}

@media (max-width: 1024px) { 
    .conteudo-principal {
        flex-direction: column;
    }

    .conteudo-principal-escrito-subtitulo, .conteudo-principal-escrito-titulo {
        margin: 0 auto;
    }

    .cabecalho {
        justify-content: center;
    }

    .projeto01 {
        width: 280px
    }
}