{{>header}}

    <main class="conteudo">
        <section class="conteudo-principal">
                <div class="conteudo-principal-escrito">
                    <h1 class="conteudo-principal-escrito-titulo">Plancto</h1>
                    <h2 class="conteudo-principal-escrito-subtitulo">Meu Portfólio</h2>
                    <p class="conteudo-principal-escrito-paragrafo typing-animation">Esse site foi criado com intuito de unificar e mostrar meus projetos.</p>
                </div>
                <div class="conteudo-principal-imagens">
                    <img class="conteudo-principal-imagem" src="img/programador.png" alt="Programador">
                    <div class="conteudo-principal-icons">
                        <a href="https://github.com/Fabricio-Barreto"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/fabricio-barreto-nogueira-876776208/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://steamcommunity.com/profiles/76561198071253513/"><i class="fa-brands fa-steam"></i></a>
                        <a href="https://www.instagram.com/barreto.fabricio/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>

        </section>
        <section>
            <div class="conteudo-projetos">
                <h2 class="conteudo-projetos-h2">Projetos</h2>
                <div class="projetos">
                    <a href="https://plancto-weather-application.herokuapp.com/"><img src="img/projeto01.png" alt="projeto01" class="projeto01"></a>
                    <a href="https://github.com/Fabricio-Barreto/PrimeiroJogo2DPlataforma"><img src="img/projeto02.png" alt="projeto02" class="projeto01"></a>
                    <a href="https://github.com/Fabricio-Barreto/Runner-Game"><img src="img/projeto03.png" alt="projeto03" class="projeto01"></a>
                </div>
            </div>

        </section>
    </main>


{{>footer}}