
        <footer class="rodape">
            <h2 class="rodape-paragrafo">Created by Fabricio Barreto</h2>
        </footer>


    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>