<!DOCTYPE html>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portfólio - Fabricio Barreto">
    <title>Plancto Site</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e507d1a58f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/wizard.png">
    

</head>
<body>

	<header class="cabecalho">
        <nav class="cabecalho-menu">
            <a href="http://localhost:3000/" class="cabecalho-menu-item">Início</a>
            <a class="cabecalho-menu-item">Sobre</a>
            <a class="cabecalho-menu-item">Meu Currículo</a>
        </nav>
    </header>

